<h2>All Entries</h2>
<table>
    <thead>
        <th>Date</th>
        <th>Moods</th>
        <th>Journal Entry</th>
        <th>Weather Data</th>
    </thead>
    <tbody>
        {{#each days}}
        <tr>
            <td>{{date}}</td>
            <td>{{moods}}</td>
            <td>{{entry}}</td>
            <td>{{weatherData}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>