<h2>All Entries</h2>
<table id="allEntries">
    <thead>
        <th id="date">Date</th>
        <th id="moods">Moods</th>
        <th id="journal">Journal Entry</th>
        <th id="temp">Temperature</th>
    </thead>
    <tbody>
        {{#each days}}
        <tr>
            <td id="date">{{date}}</td>
            <td id="moods">{{moods}}</td>
            <td id="journal">{{entry}}</td>
            <td id="temp">{{tempData.temp}} °F</td>
        </tr>
        {{/each}}
    </tbody>
</table>