<section id="entry-slug">
    <h3><span>Entry for: </span>{{day.date}}</h3>
    <div class='form-row'>
        <span>Your moods for this day was:  </span>{{day.moods}}
    </div>

    <div class='form-row'>
        <span>Journal Entry: </span><br />{{day.entry}}
    </div>

    <div class='form-row'>
        <span>Temperature: </span> {{day.temperature}}
    </div>
</section>