<!doctype html>
<html>

<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
	<div id="wrapper">
		<div id="hd">
			{{#if user}}
			<div>Logged in as: {{user.username}} (<a href="/logout">Logout</a>)</div>
			{{/if}}
			<h1>Mood Calendar</h1>
		</div>
		<div id="bd">
			{{{body}}}
		</div>
		<div id="ft">
			{{#if user}}
			<a href="/">Home</a> |
			<a href="/entry/">Add Entry</a> |
			<a href="/all-entries">All Entries</a> 
			{{/if}}
		</div>
	</div>
</body>

</html>