body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	text-align: center;
}

a {
  color: #0073AA;
}

.form-row {
	padding:0.5em;
}

form {
	margin-top:1em;
	margin-bottom:1em;
}

#wrapper {
	padding:2em;
  	background-color:#eee;
}

#ft {
	margin-top: 2em;
}

input[type='checkbox'] {
	margin-right: 1em;
}

input[type=submit] {
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
	cursor:pointer;
	font-size:1em;
}

input {
	font-size:1em;
}

input[type=submit]:hover {
	background-color: #0073AA;
	color: white;
}

table {
	margin: auto;
	margin-bottom: 20px;
}

th, td {
	text-align: center;
	padding: 0px;
	width: 60px;
	height: 40px;
	border: 1px solid darkblue;
}

#allEntries th,td {
	text-align: center;
	padding: 0px;
	height: 40px;
	border: 1px solid darkblue;
}

#date, #moods{
	width: 150px;
}

#journal {
	width: 300px;
}

#temp {
	width: 125px;
}

#entry-slug span {
	color: darkblue;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#entry-slug {
	font-size: 16px;
}

.hidden {
	display: none;
}

#nextMonth {
	font-size: 18px;
	cursor: pointer;
    text-decoration: underline;
	position: relative;
	left: 150px;
}

#prevMonth {
	font-size: 18px;
	cursor: pointer;
    text-decoration: underline;
	position: relative;
	right: 150px;
}

#calendar td {
	cursor: pointer;
}

#error {
	color:red;	
}